/* boiler plate code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Main div */
#main {
    height: 100vh;
    width: 100vw;
    background-image: url(../Assets/bg.jpg);
    background-size: cover;
}

/* Upper Navigation Bar */
#nav {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin: auto ;
}

/* Nav bar div item */
.nav-item {
    background-color: #00CED1;
    padding: 15px 25px;
    border-radius: 17px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
}

/* Button effects */
.nav-item:hover {
    background-color:#255656;
    color: rgb(255, 255, 255);
    transition: background-color 0.2s linear;
}

/* Working with the logo */
#logo {
    margin-top: 10px;
    font-size: 30px;
    color: rgb(19, 255, 231);
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    position: relative; /* Required for pseudo-element positioning */
    cursor: pointer;
}

#logo::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: wheat;
    transition: width 1s ease-in-out, left 1s ease-in-out;
}

#logo:hover::before {
    width: 100%; /* Expands the underline */
    left: 0; /* Centers the underline */
}

#logo:hover{
    color:#FFE4B5; ;
}

#home , #login{
    margin-left: 40px;
}
#about , #signup{
    margin-right: 40px;
}
hr {
    height: 1px;
    background-color: #333;
    border: none;
    margin: 10px 0px;
}
#hero{
    font-family: 'Kode Mono' , sans-serif;
    height: 300px;
    width: 40%;
    margin-top: 130px;
    margin-left: 80px;
    color: white;
    font-size: 45px;
}
#herotxt{
    margin-top: 50px;
    color: yellow;
    text-decoration: underline rgb(249, 249, 173);
}
#nav2{
    display: flex;
}
#heroimg{
    background-size: cover;
}

img {
    position: absolute;
    top: 15%;
    left: 30%;
}
i {
    margin-right: 2px ;
}
/* second page starts here */
#page2 {
    height: 100%;
    background-image: url(../Assets/bg.jpg);
}
#contactus{
    padding: 15px 25px;
    border-radius: 17px;
    font-size: 20px;
    margin-top: 100px;
    cursor: pointer;
    background-color: #00CED1;
    border: solid black 1px;
}
#contactus:hover{
        background-color:#255656;
        color: rgb(255, 255, 255);
        transition: background-color 0.2s linear;
}
#phoneicon{
    margin-right: 5px;
}
#handles{
    font-size: 30px;
    margin-top: 25px;
    color: rgb(190, 186, 186);
    margin-left: 2px;

}

